.component--card-mission{
  display: flex;
  flex-direction: column;
  background-color: #FFB385;
  margin-right: 45px;
  max-height: 300px;
  border-radius: 5px;
  padding: 20px;
  width: calc(50%);
  margin-bottom: 27px;
  transition: all .3s;
  &:nth-child(2n + 2){
    margin-right: 32px;
  }

  .header-card-mission{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .title-header{
      font-size: 20px;
      line-height: 24px;
    }
    img{
      width: 28px;
      height: 28px;
      cursor: pointer;
    }
  }
  .body-container{
    display: flex;
    align-items: center;

    .left-part{
      width:calc(50% - 15px);
      margin-right: 10px;
      height: 100%;
      img{
        width:100%;
        height:100%;
      }
    }
    .right-part{
      width:calc(50% - 30px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title-date{
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }

  }
}


