.component--pets-description{
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  .title-pets{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
  }
  .container-pets-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-part{
      width: calc(50% - 40px);
      .image-pets{
        width: 100%;
        max-height: 500px;
      }
    }
    .right-part{
      display: flex;
      flex-direction: column;
      width: calc(50% - 40px);
      .container-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .container-title-info{
          width: calc(50% - 20px);
          display: flex;
          flex-direction: column;
          .title-info{
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 10px;
          }
          input{
            border-radius: 5px;
            padding: 20px;
            font-size: 18px;
            line-height: 21px;
            height: 50px;
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #FF7143;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}