.view--mission{
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  align-items: center;
  .title-mission{
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .container-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}